<%- include("partials/header.ejs") %>
<body>
<main>

<div id="main" class="container">
  
  <div id="nav">
    <div class="list-group">
      <div>
        <img src="/keyboard-70506_1280.jpg">
      </div>
      <div id="Articles">
      <h2>Articles</h2>
    </div>
      <form action="/newPost" method="POST">
        <input type="submit" value="Submit New Post" id="newPost" class="button">
      </form>

      <form action="/nav" method="POST">
        <% submissions.forEach(function(submission) { %>
          <a href="/?id=<%= submission.id %>" class="list-group-item list-group-item-action"><%= submission.title %></a>
        <% }); %>
      </form>
    </div>
  </div>

  <div id="div2">
      <div>
      <h1>
      Tech Blog
      </h1>
      <p>This site is built on node.js with EJS templating and is hosted on Render</p>
    </div>

      <% if (locals.latestSubmission) { %>
        <div class="content">
          <h3>Submitted Post</h3> 
          <h4><%= latestSubmission.title %></h4>
          <p><%= latestSubmission.article %></p>
        </div>
      <% } else {%>

        <% if (typeof editPostId !== "undefined" && editPostId !== null) { %>
          <div class="content">
            <h3>Edit Post</h3>
          </div>
          <div>
            <form action="/editSubmit" method="POST">
              <input type="hidden" name="editId" value="<%= editPostId %>" />
              <div class="mb-3">
                Edit your post title
                <textarea class="form-control" name="titleEdit" rows="1"><%= editTitle %></textarea>
              </div>
              <div class="mb-3">
                Edit your post
                <textarea class="form-control" name="textEdit" rows="15"><%= editArticle %></textarea>
              </div>
              <div class="mb-3">
              <input type="submit" value="OK" />
            </form>
          </div>
          <% } else { %>


        <% if (locals.selectedPost) { %>
            <div class="content">
              <!-- Display selected post -->
               <h3>Selected Post</h3>
              <h4><%= selectedPost.title %></h4>
              <p><%= selectedPost.article %></p>
            </div>

            <div id="editDelete">
              <!-- Edit Post Button-->
              <div>
                <form action="/edit" method="POST">
                  <input type="hidden" name="editId" value="<%= selectedPost.id %>"/>
                  <input type="submit" name="edit" value="Edit Post" class="button"/>
                </form>
              </div>
        
              <!-- Delete Post Button-->
              <div>
                <form action="/delete" method="POST">
                  <input type="hidden" name="deleteId" value="<%= selectedPost.id %>"/>
                  <input type="submit" name="delete"  value="Delete Post" class="button" />
                </form>
              </div>
            </div> 
        <% } else {%>
            <!-- Edit Post Functionality-->
            <% if (locals.editedTitle) { %>
              <div class="content">
                <h3>Your Edit was Successful</h3>
                <h3><%= editedTitle %></h3>
                <p><%= editedText %></p>
              </div>
                <% } else { %>
                    <div class="content form">
                          <!-- SUBMIT AN ARTICLE -->
                          <form action="/submit" method="POST">
                            <div class="mb-3">
                              <label for="exampleFormControlInput1" class="form-label">Enter article title here</label>
                              <textarea class="form-control" name="title" rows="1"></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="exampleFormControlTextarea1" class="form-label">Type your post here</label>
                              <textarea class="form-control" name="text" rows="15"></textarea>
                            </div>
                            <div class="mb-3">
                            <input type="submit" value="OK" />
                            </div>
                          </form>
                    </div>
                        <% } %>
                    <% } %>
                  <% } %>
                <% } %>
    <div id="footer">
      <p>Copyright © <%= new Date().getFullYear() %>
      </p>
    </div>
  </div>
</div>
</main>
